/* .teams-header-bg{
    background-image:url('assets/image/teams-new-landing-bg.jpg');
    margin-bottom: -270px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
} */